# Virtual Environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# UV
uv.lock

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prophet cache
prophet_cache/

# Dataset
data/
